

.menutop{
   
}
a p {
    color: black;
}
    
#bloqueusuario ul li { 
    display: inline;
    list-style: none;
    padding: 10px;
}
#bloqueusuario ul li a {
    color: black;
}
a {
    text-decoration: none;
}
/*navegador*/
header #barranavegacion #navegador>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
nav div {
    align-items: center;
    text-align: center;
}
nav div ul li {
    display: inline;
    list-style: none;
    padding: 20px
}
#navegador div {
    background-color: black;
}
#navegador div ul li a {
color: white;

}
header #banner img {
    margin: auto;
    display: block;
    height: auto;
    width: 400px;
}
.navbar__ul>li{
    color: #fff;
}

/*parte uno*/

#coleccion{
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.fotos {
    width: 20%;
}
#eslogan p {
    color: white;
    background-color: black;
    padding-left: 30px;
}
/*parte dos*/

#lookbook-accessories {
   display: flex;
   justify-content: space-around;
   margin: 20px;
}
/*parte tres*/

#videoconcept video {
    width: 90%;
    margin-top: 20px; 
    border-radius: 10px; 
    background: url(inspo/fondovideo.jpg);
    height: 100vh;
    background-size: cover; 
}
#rock img{
    background-color: lightgray;
    margin: auto;
    display: block;
}
/*parte cuatro*/
#partecuatro{
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#logossocialmedia{
    display: flex;
  justify-content: space-around;
  align-items: center;
}
#logossocialmedia #logo1{
    width: 30%;
    border-radius: 3rem;
}
#logossocialmedia #logo2{
    width: 30%;
    border-radius: 3rem;
}
#logossocialmedia #logo3{
    width: 30%;
    border-radius: 3rem;
}
/*footer*/

footer {
    margin: 60px;
    justify-content: center;
}
#piedepag{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: x-small;
}
#piedepag ul{
    margin: 0mm;
    padding: 0mm;
    justify-content: center;
}
#customer li {
    display: inline;
    list-style: none;
    padding: 0mm;
    margin: 5px;
    width: 70%;
}

