/*top bar*/
body{
    font-family: roboto condensed;
}
.topbar__menu{
    font-size: small;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.topbar__menu_list{
    display: inline-flex;
    list-style: none; 
}
.topbar__menu_list li{
    color: black;
    margin: 0px 10px 0px 10px;
}
.menu__list--user{
    text-decoration: none;
    color: black;
}
.topbar__menu a{
    text-decoration: none;
}
a p{
    color: black;
}
/*banner*/
header .topbar .topbar__banner {
    margin: auto;
    display: block;
    height: auto;
    width: 400px;
}
.topbar__banner a{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/*navegador*/
.nav{
    background-color: black;
}
.nav__navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

}
.navbar__ul a{
   
    text-decoration: none;
    color: #fff;
}
header{
    text-transform: uppercase;
    padding-bottom: .75em;
}
/*boton buscador*/
header #buscador input {
    font-weight: 400;
    padding-right: 1.875em;
    width: 17em;
    font-size: 11.5px;
    text-transform: uppercase;
}
input[type='text'], input.input-text {
    box-sizing: border-box;
    border: 1px solid #7d7d7d;
    height: 2.22em;
    outline: none;
    padding: 0 1em;
    text-transform: none;
}
/*FIRST*/
.colection{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slogan{
    color: #fff;
    background-color: #000;
    padding-left: 30px;
    padding-top: 7px; ;
    padding-bottom: 7px;
    text-transform: uppercase;
}
/*second*/
.look_acces {
    display: flex;
    justify-content: space-around;
    margin: 20px;
 }
 video{width: 10%;}